.Weather {
  border: 1px solid #47a2bb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgb(60, 165, 170);
  padding: 10px;
  border-radius: 5px;
}
.Weather .btn {
  background-color: #47a2bb;
}
.Weather .btn:hover {
  background-color: #2cb9c0;
}
.Weather .form-control:focus {
  border-color: #47a2bb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgb(84, 186, 192);
}
.Weather ul {
  list-style: none;
  font-size: 12px;
  font-weight: 350;
  line-height: 15px;
  display: contents;
}
.Weather .degrees {
  font-size: 48px;
}
.Weather a {
  text-decoration: none;
}
.Weather .units {
  position: relative;
  line-height: 1;
  top: -25px;
}
.Weather .units .active {
  color: #47a2bb;
}

.Weather canvas {
  margin: 10px auto;
}
.Weather .cityDisplay {
  padding: 15px 0px;
}
.Weather .country {
  font-size: 16px;
  position: relative;
  top: -10px;
}

.Weather .date {
  text-transform: uppercase;
}
.Weather .description {
  padding-top: 10px;
  font-size: 15px;
}
