.Weather {
  border: 1px solid #dadde1;
  padding: 10px;
  border-radius: 5px;
}
.Weather ul {
  list-style: none;
  font-size: 12px;
  font-weight: 350;
  line-height: 15px;
  display: contents;
}
.Weather .degrees {
  font-size: 48px;
}
.Weather a {
  text-decoration: none;
}
.Weather .units {
  position: relative;
  line-height: 1;
  top: -25px;
}

.Weather canvas {
  margin: 10px auto;
}
.Weather .cityDisplay {
  padding: 15px 0px;
}

.Weather .date {
  text-transform: uppercase;
}
.Weather .description {
  padding-top: 10px;
  font-size: 15px;
}
